*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .navbar{
    justify-content: end;

  }
  nav {
    padding: 30px;
    justify-self: center;
    font-size: 20px;
    background-color: rgb(237, 16, 16);
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #f7e11e;
    text-decoration: underline #f7e11e;
  }
  /* body */
body{
    background-color: #d2eb42;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
 
}
  /* footer */
  .feet{
    margin-bottom: 0px;
    background-color: rgb(237, 16, 16);
  }
  .carisol{
    height: 250px;
  }
  /* home */
  #logotext{
    margin: 10px;
    transform: rotate(45deg);
  }
  .navbar-brand{
    width:  100px;
    height: 100px;
  }
  /* about */
 
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kdam+Thmor+Pro&family=Kode+Mono:wght@400..700&family=Roboto+Slab&family=Roboto:wght@100&family=Varela+Round&display=swap')

 